데이터셋 출처 :
- https://www.kaggle.com/datasets/asaniczka/tmdb-movies-dataset-2023-930k-movies
- https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata

In [1]:
import pandas as pd
import json

In [2]:
movieDF = pd.read_csv('../data/tmdb_dataset/TMDB_movie_dataset_v11.csv')

In [3]:
### 1028972 개의 행 존재
### backdrop_path, poster_path 존재
### cast, crew 정보 X
movieDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028972 entries, 0 to 1028971
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1028972 non-null  int64
 1   title                 1028960 non-null  object
 2   vote_average          1028972 non-null  float64
 3   vote_count            1028972 non-null  int64
 4   status                1028972 non-null  object
 5   release_date          900122 non-null   object
 6   revenue               1028972 non-null  int64
 7   runtime               1028972 non-null  int64
 8   adult                 1028972 non-null  bool
 9   backdrop_path         286782 non-null   object
 10  budget                1028972 non-null  int64
 11  homepage              111303 non-null   object
 12  imdb_id               578353 non-null   object
 13  original_language     1028972 non-null  object
 14  original_title        1028960 non-null  object
 15  overview              839370 non-null   object
 16  popularity            1028972 non-null  float64
 17  poster_path           735332 non-null   object
 18  tagline               147027 non-null   object
 19  genres                642901 non-null   object
 20  production_companies  484109 non-null   object
 21  production_countries  602888 non-null   object
 22  spoken_languages      614891 non-null   object
 23  keywords              293972 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 181.5+ MB

In [4]:
### 사용할 컬럼
movieDF.iloc[:2, [0, 1, 2, 3, 5, 7, 9, 11, 13, 15, 16, 17, 18, 19, 21, 23]]

,id,title,vote_average,vote_count,release_date,runtime,backdrop_path,homepage,original_language,overview,popularity,poster_path,tagline,genres,production_countries,keywords
0,27205,Inception,8.364,34495,2010-07-15,148,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,https://www.warnerbros.com/movies/inception,en,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","United Kingdom, United States of America","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,2014-11-05,169,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,http://www.interstellarmovie.net/,en,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","United Kingdom, United States of America","rescue, future, spacecraft, race against time,..."

In [5]:
creditDF = pd.read_csv('../data/tmdb_dataset/tmdb_5000_credits.csv')

In [6]:
### 4802 개의 행 존재
### cast, crew 존재
creditDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [7]:
### 사용할 컬럼
creditDF.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [8]:
### 둘 다 동일한 id 사용 (tmdb 기준)
movieDF[movieDF['id']==19995]

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."

In [9]:
### movieDF를 creditDF에 병합(creditDF의 id가 기준)
movieDF = creditDF.merge(movieDF.iloc[:, [0, 2, 3, 5, 7, 9, 11, 13, 15, 16, 17, 18, 19, 21, 23]],
                         how='inner', left_on='movie_id', right_on='id')

In [10]:
movieDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4796 entries, 0 to 4795
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movie_id              4796 non-null   int64
 1   title                 4796 non-null   object
 2   cast                  4796 non-null   object
 3   crew                  4796 non-null   object
 4   id                    4796 non-null   int64
 5   vote_average          4796 non-null   float64
 6   vote_count            4796 non-null   int64
 7   release_date          4796 non-null   object
 8   runtime               4796 non-null   int64
 9   backdrop_path         4615 non-null   object
 10  homepage              1772 non-null   object
 11  original_language     4796 non-null   object
 12  overview              4795 non-null   object
 13  popularity            4796 non-null   float64
 14  poster_path           4771 non-null   object
 15  tagline               4222 non-null   object
 16  genres                4789 non-null   object
 17  production_countries  4707 non-null   object
 18  keywords              4523 non-null   object
dtypes: float64(2), int64(4), object(13)
memory usage: 712.0+ KB

In [11]:
### 열 순서 재조정 (id, movie_id 중복되므로 movie_id 제외)
movieDF = movieDF.iloc[:, [4, 1, 7, 11, 12, 2, 3, 17, 18, 15, 16, 5, 6, 13, 8, 9, 14, 10]]

In [12]:
movieDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4796 entries, 0 to 4795
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    4796 non-null   int64
 1   title                 4796 non-null   object
 2   release_date          4796 non-null   object
 3   original_language     4796 non-null   object
 4   overview              4795 non-null   object
 5   cast                  4796 non-null   object
 6   crew                  4796 non-null   object
 7   production_countries  4707 non-null   object
 8   keywords              4523 non-null   object
 9   tagline               4222 non-null   object
 10  genres                4789 non-null   object
 11  vote_average          4796 non-null   float64
 12  vote_count            4796 non-null   int64
 13  popularity            4796 non-null   float64
 14  runtime               4796 non-null   int64
 15  backdrop_path         4615 non-null   object
 16  poster_path           4771 non-null   object
 17  homepage              1772 non-null   object
dtypes: float64(2), int64(3), object(13)
memory usage: 674.6+ KB

In [14]:
### 전처리된 DataFrame을 csv 파일로 저장
movieDF.to_csv('../data/processed/tmdb_4796.csv', index=False)